@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

ul,
ol,
li,
a {
    text-decoration: none;
    list-style: none;
}

input {
    background-color: transparent;
    border: none;
}

input:focus-visible {
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

header {
    padding: 0 clamp(.75rem, -0.68rem + 6.1vw, 4.813rem);
}

.conteiner__header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .conteiner__header {
        padding: 15px 0;
    }
}

.logo__title {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 2.25rem;
}

@media (max-width: 425px) {
    .logo__title {
        font-size: 1.5rem;
    }
}

.conteiner__menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media (max-width: 768px) {
    .menu {
        background-color: #dbdbdb;
        z-index: 2;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        overflow: auto;
        padding: 20px 0;
        left: -100%;
        transition: left 0.4s;
    }

    .menu._active {
        left: 0;
    }
}

.menu__icon {
    display: none;
}

@media (max-width: 768px) {
    .menu__icon {
        display: block;
        width: 28px;
        height: 16px;
        position: relative;
        cursor: pointer;
        z-index: 5;
    }

    .menu__icon span {
        transition: all 0.4s ease 0s;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    .menu__icon span:first-child {
        top: 0;
    }

    .menu__icon span:last-child {
        top: auto;
        bottom: 0;
    }

    .menu__icon._active span {
        transform: scale(0);
    }

    .menu__icon._active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }

    .menu__icon._active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }
}

@media (max-width: 768px) {
    .conteiner__menu {
        flex-direction: column;
        line-height: 80px;
        justify-content: center;
    }
}

.menu__link {
    font-size: 1.5rem;
    padding: 15px 0;
    color: #000;
}

.menu__link:hover {
    font-weight: bold;
}

@media (max-width: 425px) {

    .conteiner__menu {
        line-height: 40px;

    }

    .menu__link {
        font-size: 1rem;
    }
}

/* --------------- main first conteiner ----------------*/

main {
    padding: 0 clamp(.75rem, -0.68rem + 6.1vw, 4.813rem);
}

.first__conteiner {
    padding-top: 45px;
}

.desc__work {
    margin-left: 15vw;
}

.desc__question {
    font-size: 1.13rem;
    color: #2D9CDB;
    padding-bottom: 15px;
}

.web__services {
    max-width: 543px;
    width: 100%;
    font-size: 3rem;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .desc__question {
        font-size: .75rem;
    }

    .web__services {
        font-size: 1.5rem;
        max-width: 272px;
        width: 100%;
    }
}

.img__firstconteiner {
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
}

.desc__story {
    padding-top: 40px;
    font-size: 3rem;
    max-width: 366px;
    width: 100%;
}

.desc__strategic {
    padding-top: 40px;
    max-width: 366px;
    font-size: 1.13rem;
    width: 100%;
}

.desc__contact {
    font-size: .88rem;
    padding-top: 50px;
    color: #828282;
}

.input__box {
    margin-top: 10px;
    background-color: #F2F2F2;
    max-width: 350px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.input__email {
    font-size: 1.13rem;
    padding-left: 20px;
}

::-webkit-input-placeholder {
    font-size: 1.13rem;
    color: #BDBDBD;

}

.btn__join {
    margin: 4px;
    padding: 14px 30px;
    border-radius: 12px;
    border: none;
    background-color: #2D9CDB;
    color: #FFF;
    font-size: 1.13rem;
}

.btn__join:active {
    background-color: #80b2cf;
    color: #000;
}

@media (max-width: 768px) {
    .desc__story {
        font-size: 1.5rem;
        max-width: 227px;
        width: 100%;
    }

    .desc__strategic {
        padding-top: 30px;
        font-size: .88rem;
        max-width: 275px;
        width: 100%;
    }

    .desc__contact {
        padding-top: 30px;
        font-size: .65rem;
    }

    .input__box {
        max-width: 270px;
        width: 100%;
    }

    .input__email {
        font-size: .88rem;
        padding-left: 5px;
    }

    ::-webkit-input-placeholder {
        font-size: .88rem;
    }

    .btn__join {
        font-size: .88rem;
    }
}

@media (max-width: 425px) {
    .desc__work {
        margin-left: 8vw;
    }
}

@media (max-width: 355px) {
    .desc__work {
        margin-left: 3vw;
    }
}

/* --------------- main second conteiner ----------------*/

.second__conteiner {
    padding: 190px 0;
    margin: 0 7vw;
}

.sub__titles {
    max-width: 346px;
    width: 100%;
    font-size: 2.25rem;
    font-weight: lighter;
    padding-bottom: 40px;
}

.conteiner__services {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box__services {
    max-width: 341px;
    width: 100%;
    padding: 40px 30px;
    border-radius: 24px;
    cursor: pointer;
}

.fa-solid {
    font-size: 1.5rem;
    color: #FFF;
    padding: 15px;
}

.box__icon1 {
    width: 55px;
    background-color: #2D9CDB;
    border-radius: 16px;
}

.box__icon2 {
    width: 60px;
    background-color: #27AE60;
    border-radius: 16px;
}

.box__icon3 {
    width: 55px;
    background-color: #EB5757;
    border-radius: 16px;
}

.services {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 40px;
}

.desc__services {
    font-size: 1rem;
    color: #4F4F4F;
    padding: 20px 0;
}

.btn__started {
    margin: 10px 0;
    border: none;
    max-width: 110px;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 12px;
    color: #828282;
}

.box__services:hover {
    box-shadow: 1px 4px 10px 7px #0000000e;
}

.box__services:hover>.btn__started {
    background-color: #2D9CDB;
    color: #FFF;
}

@media (max-width: 768px) {
    .second__conteiner {
        padding: 80px 0;
    }

    .sub__titles {
        font-size: 1.5rem;
        max-width: 259px;
        width: 100%;
    }
}

/* --------------- main third conteiner ----------------*/

.third__conteiner {
    margin: 0 7vw;
}

.sub__titles__second {
    max-width: 448px;
    width: 100%;
    font-size: 2.25rem;
    font-weight: lighter;
    padding-bottom: 10px;
}

.conteiner__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.box__imgs:nth-child(2n - 1) {
    padding-top: 12vw;
}

.img__design {
    border-radius: 12px;
}

.services__application {
    color: #828282;
    font-size: .88rem;
    padding-top: 10px;
}

.services__design {
    font-size: 1.5rem;
    padding-top: 10px;
}

.see__more {
    font-size: 1.5rem;
    text-align: end;
    margin-top: -38px;
}

.see__more__link {
    color: #2D9CDB;
}

@media (min-width: 1441px) {
    .img__design {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .conteiner__imgs {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 0;
    }

    .box__imgs:nth-child(2n - 1) {
        padding-top: 0;
    }

    .sub__titles__second {
        font-size: 1.5rem;
        max-width: 267px;
        width: 100%;
    }

    .services__application {
        padding-top: 5px;
        font-size: .75rem;
    }

    .services__design {
        padding-top: 3px;
        padding-bottom: 10px;
        font-size: 1rem;
    }

    .see__more {
        font-size: 1rem;
        text-align: start;
        margin-top: 0;
    }
}

/* --------------- main fourth container ----------------*/

.fourth__conteiner {
    padding: 120px 0;
    margin: 0 7vw;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.desc__team {
    font-size: 1.13rem;
    color: #EB5757;
    padding-bottom: 10px;
}

.sub__titles__third {
    padding: 10px 0;
    max-width: 280px;
    width: 100%;
    font-size: 2.25rem;
    font-weight: lighter;
}

.desc__team__lorem {
    font-size: 1rem;
    padding: 10px 0;
    max-width: 280px;
    width: 100%;
}

.box__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.img__photo {
    border-radius: 24px;
}

.img__photo:nth-child(1) {
    grid-row: 1 / 3;
}

.img__photo:nth-child(3) {
    grid-column: 2;
}

@media (max-width: 1250px) {
    .fourth__conteiner {
       flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .sub__titles__third {
        font-size: 2rem;
    }
}

/* --------------- main fifth container ----------------*/

.fifth__conteiner {
    margin: 0 7vw;
    padding-bottom: 200px;
}

.sub__titles__fourth {
    font-size: 2.25rem;
    font-weight: lighter;
    max-width: 937px;
    width: 100%;
    padding-bottom: 40px;
}

.box__profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo__profile {
    border-radius: 12px;
}

.name__profile {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.desc__profile {
    padding-bottom: 10px;
    font-size: 1.13rem;
    color: #828282;
}

@media (max-width: 768px) {
    .sub__titles__fourth {
        font-size: 1.5rem;
    }

    .fifth__conteiner {
        padding-bottom:80px;
    }
}

/* ------------------------ footer --------------------------*/

footer {
    background-color: #100E1D;
}

.footer__conteiner {
    margin: 0 12vw;
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.menu__item__second {
    padding: 8px 0;
}

.menu__link__second {
    font-size: 1.13rem;
    color: #FFF;
}

.logo__title__second {
    color: #FFF;
    font-size: 2.25rem;
    padding-bottom: 10px;
}

.img__svg {
    cursor: pointer;
}

.conteiner__svg {
    display: flex;
    gap: 15px;
}

.desc__contact__second {
    font-size: .88rem;
    color: #828282;
}

.input__email__second {
    font-size: 1.13rem;
    padding-left: 10px;
}

@media (max-width: 768px) {

    .footer__conteiner {
        flex-wrap: wrap;
    }

    .desc__contact__second {
        font-size: .65rem;
    }

    .input__email__second {
        font-size: .86rem;
        padding-left: 7px;
    }
}

@media (max-width: 425px) {
    .footer__conteiner {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .input__email__second {
        padding-left: 10px;
        max-width: 120px;
    }
}


/* ------- cpyrigth --------- */

.copyrigth {
    font-size: .88rem;
    color: #F2F2F2;
    text-align: center;
    padding-bottom: 10px;
}

.copyrigth__owner {
    font-style: italic;
    color: #d6d6d6;
    cursor: pointer;
}